RewriteEngine On
RewriteBase /

# Redirect ke login sebagai default saat akses root
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^$ Login/login.php [L]

# Route custom ke folder masing-masing
RewriteRule ^login$ Login/login.php [L]
RewriteRule ^register$ Register/register.php [L]
RewriteRule ^dashboard$ Dashboard/index.php [L]
